@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
* {
  outline: 1px solid red !important;
} */

.no-scroll {
  overflow: hidden;
}

.padding-x {
  @apply px-6 md:px-8;
}

.margin-left {
  @apply ml-6 md:ml-8;
}

.margin-right {
  @apply mr-6 md:mr-8;
}

.padding-section {
  @apply py-8;
}

.gradient-main-r,
.gradient-main-tr,
.gradient-main-text {
  @apply from-violet-500 to-indigo-500 md:via-indigo-500 md:to-violet-500;
}

.gradient-main-text-sm {
  @apply from-indigo-500 to-violet-500;
}

.gradient-main-r {
  @apply bg-gradient-to-r;
}

.gradient-main-tr {
  @apply bg-gradient-to-tr;
}

.gradient-main-text,
.gradient-main-text-sm {
  @apply bg-gradient-to-r bg-clip-text  text-transparent;
}

.shadow-color {
  @apply shadow-indigo-600/10;
}

.show-promo-item {
  animation: show-promo-item 0.5s ease-in-out forwards;
  transition: transform;
}

.hide-promo-item {
  animation: hide-promo-item 0.5s ease-in-out forwards;
  transition: transform;
}

.show-promo-item--reverse {
  animation: show-promo-item--reverse 0.5s ease-in-out forwards;
  transition: transform;
}

.hide-promo-item--reverse {
  animation: hide-promo-item--reverse 0.5s ease-in-out forwards;
  transition: transform;
}

.focus-outline {
  @apply focus:outline focus:outline-blue-500;
}

:focus-visible {
  @apply focus-outline;
}

@keyframes show-promo-item--reverse {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hide-promo-item--reverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30vw);
  }
}

@keyframes show-promo-item {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hide-promo-item {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(30vw);
  }
}

/* ----------- CSS RESET ----------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  @apply block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
